<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokers_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1761,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1761,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1761,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1761,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1761,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1980,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04a29b18de317f56b94f50681b62209e:8ea17ac8ddadb8454ffad199c28d09fc:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
