<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokers_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1761,1},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_c13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1761,143},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_d13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1761,285},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1761,427},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_h13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1761,569},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{221,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{441,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{661,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{881,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1101,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1321,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pokers_s13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,222}</string>
                <key>textureRect</key>
                <string>{{1541,711},{140,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1980,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04a29b18de317f56b94f50681b62209e:8ea17ac8ddadb8454ffad199c28d09fc:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
